{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "KeyVaultUri": "https://tribes.vault.azure.net/",
    "GoogleVisionSecretName": "GoogleVisionCredentials",
    "GoogleVisionConfidenceThreshold": "0.8"
  }
}
