{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "KeyVaultUri": "https://tribes.vault.azure.net/",
    "GoogleVisionSecretName": "GoogleVisionCredentials",
    "GoogleVisionConfidenceThreshold": "0.8",
    "GoogleCloudLocation": "us-central1",
    "GoogleGeminiModel": "gemini-2.5-flash",
    "GoogleMailSecretName": "GoogleMail",
    "MailFromAddress": "hello@tribes.zone",
    "MailFromDisplayName": "Tribes"
  }
}
